@charset "utf-8";
/* CSS Document */
body { font-size: 0.75em;font-family:'나눔 고딕','맑은고딕','돋움','dotum',Helvetica,Arial,Sans-Serif; color:#595959; line-height: 1.5em;}
label { cursor:pointer}
a{ text-decoration:none;color: #3c3c3c;}
/*
a:link, a:visited { text-decoration:none;color: #3c3c3c;}
a:hover, a:focus, a:active { text-decoration:underline;}
*/
/* css2 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button { 
	padding: 0;
	margin: 0;
	}
table{border:none;}
td,th{	border: 0 none;}
h1, h2, h3, h4, h5, h6, th, td, table, input, button, select,  sub{ font-size:1em}
textarea{font-size: 12px;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
fieldset,img,abbr,acronym { border: 0}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
	}
ol,ul { list-style: none }
caption{ text-align: left }
q:before,q:after {
	content:'';
	}
img, input, button, select, textarea { vertical-align:middle}

hr { overflow:hidden; position:absolute; top:0; left:0}
caption,
legend{overflow: hidden;font-size: 0;line-height: 0;height: 0;width: 0;text-indent: -999em;}
hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}
legend{display: none;}

.skip{position: absolute;top: 0;left: 0;}
.skip a{position:absolute; display:block; width:500px; left:0; text-align:center; top:-10000px; z-index:5000; font-size:1.3em;height: 20px;}
.skip a:hover, 
.skip a:focus, 
.skip a:active{position: absolute; top: 0; padding: 15px 0; font-weight:bold; color:#fff; background:#1d60a7; z-index:500}

.txt_type_btn{border:none;background-color: #fff;cursor: pointer;}
