<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> 요리 </title>
<style>body{font-family:굴림;font-size:10pt;margin:0 0 0 0;}p,li{line-height:1.2;margin-top:0;margin-bottom:0;}</style>
 </head>

 <body>
  <div class="view" style="font-size:9pt;">
<div align="center">&nbsp;</div>
<div align="center">&nbsp;</div>
<div align="center">
<table class="pe_axQ" style="border-width:1px 1px 0px 0px;border-style:solid solid none none;border-color:rgb(204,204,204) rgb(204,204,204) currentColor currentColor;" border="0" cellspacing="0" cellpadding="0" _cssquery_uid="143">
<tbody>
<tr>
<td width="619" style="border-width:0px 0px 1px 1px;border-style:none none solid solid;border-color:currentColor currentColor rgb(204,204,204) rgb(204,204,204);background-color:rgb(255,255,255);">
<p>&nbsp;</p>
<div class="view" style="font-size:9pt;">
<p align="center" class="view" style="font-size:9pt;">&nbsp;</p>
<p align="center" class="view" style="font-size:9pt;">&nbsp;</p>
<div align="center" class="view" style="font-size:9pt;">
<p align="center" class="pe_NE" style="width:548px;font-family:돋움,Dotum;font-size:9pt;"><strong><font size="5"><span style="color:rgb(255,0,0);font-size:14pt;"><img style="border:0px solid rgb(0,0,0);vertical-align:baseline;" alt="커피" src="http://www.namo.co.kr/modules/board/design/ce_experience2/crosseditor/images/emoticon/25.gif" />&nbsp;나들이용&nbsp;샌드위치</span></font></strong></p></div>
<p align="center" class="view" style="font-size:9pt;">&nbsp;&nbsp;</p>
<div align="center" class="view" style="font-size:9pt;">&nbsp;</div>
<div align="center" class="view" style="font-size:9pt;">
<p class="pe_NE" style="width:548px;text-align:center;color:rgb(16,16,16);line-height:1;font-family:돋움,Dotum;font-size:8pt;"><span style="color:rgb(229,0,0);"><strong>요리분류</strong>&nbsp;</span>간식, 빵류&nbsp;&nbsp;&nbsp; <span style="color:rgb(230,230,230);">|</span>&nbsp;&nbsp; <span style="color:rgb(229,0,0);"><strong>요리가격</strong></span> 15000원 미만&nbsp;&nbsp;&nbsp; <span style="color:rgb(230,230,230);">|</span>&nbsp;&nbsp;&nbsp; <span style="color:rgb(229,0,0);"><strong>총칼로리</strong>&nbsp;</span>1200 kcal</p></div>
<p align="center" class="view" style="font-size:9pt;">&nbsp;</p>
<p align="center" class="view" style="font-family:돋움,Dotum;font-size:9pt;">&nbsp;</p>
<div align="center" class="view" style="font-size:9pt;">
<table class="pe_agA" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="548" height="362" class="pe_NE" style="font-family:돋움,Dotum;font-size:0px;vertical-align:top;">
<p><img width="672" height="784" title="요리레시피" style="width:552px;height:545px;" alt="요리레시피" src="http://www.namo.co.kr/modules/board/design/ce_experience2/crosseditor/binary/images/000017/trs018tg0212_1.jpg" filemimeinfo="NAMO|False|http://www.namo.co.kr/modules/board/design/ce_experience2/crosseditor/binary/images/000017/trs018tg0212_1.jpg" /></p></td>
</tr>
</tbody>
</table>
<p>&nbsp;&nbsp;</p></div>
<div align="center" class="view" style="font-size:9pt;">
<table class="pe_axQ" style="border-width:1px 1px 0px 0px;border-top-color:rgb(246,202,202);border-right-color:rgb(246,202,202);border-top-style:solid;border-right-style:solid;" border="0" cellspacing="0" cellpadding="0" _cssquery_uid="144">
<tbody>
<tr>
<td style="border-width:0px 0px 1px 1px;width:548px;height:212px;border-bottom-color:rgb(246,202,202);border-left-color:rgb(246,202,202);border-bottom-style:solid;border-left-style:solid;background-color:rgb(255,241,241);">
<p>&nbsp; </p>
<table class="pe_NE pe_agA" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="pe_ajd" style="width:92px;height:26px;color:rgb(236,26,0);font-family:돋움,Dotum;font-size:8pt;vertical-align:top;"><strong style="text-decoration:underline;"><span style="color:rgb(255,255,255);"><u>&nbsp; </u></span>요리소개</strong></td>
<td class="pcol2 m-tcol-c" style="width:451px;height:26px;font-family:돋움,Dotum;font-size:9pt;vertical-align:top;">
<p style="text-align:left;">봄철 나들이를 위한 간단한 야외용&nbsp;샌드위치를 쉽고 재미있게 만들어보자.</p></td>
</tr>
</tbody>
</table>
<p></p>
<table class="pe_NE pe_agA" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="pe_ajd" style="width:92px;height:24px;color:rgb(236,26,0);font-family:돋움,Dotum;font-size:8pt;vertical-align:top;"><strong style="text-decoration:underline;"><span style="color:rgb(255,255,255);"><u>&nbsp; </u></span>요리재료</strong></td>
<td class="pcol2 m-tcol-c" style="width:451px;height:24px;font-family:돋움,Dotum;font-size:9pt;vertical-align:top;">
<p style="text-align:left;">빵, 소세지, 양파, 카프리카, 피클,&nbsp;양상추, 버터,&nbsp;머스타드</p></td>
</tr>
</tbody>
</table>
<table class="pe_NE pe_agA" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="pe_ajd" style="width:95px;height:114px;color:rgb(236,26,0);font-family:돋움,Dotum;font-size:8pt;vertical-align:top;"><strong style="text-decoration:underline;"><span style="color:rgb(255,0,0);"><span style="color:rgb(255,255,255);"><u>&nbsp; </u></span>조리방법</span></strong></td>
<td class="pcol2 m-tcol-c" style="width:458px;height:110px;line-height:1;padding-top:4px;font-family:돋움,Dotum;font-size:9pt;vertical-align:top;">
<p style="text-align:left;"><strong style="color:rgb(0,0,0);letter-spacing:-1px;font-family:tahoma;font-size:7pt;"><span style="color:rgb(37,37,37);">1</span></strong><span style="color:rgb(37,37,37);">&nbsp;&nbsp;빵을 반으로 갈라 버터를 얇게 발라준다.</span></p>
<p style="text-align:left;"><span style="color:rgb(37,37,37);"></span>&nbsp;</p>
<p style="text-align:left;"><strong style="color:rgb(0,0,0);letter-spacing:-1px;font-family:tahoma;font-size:7pt;"><span style="color:rgb(37,37,37);">2</span></strong><span style="color:rgb(37,37,37);">&nbsp;&nbsp;양파를 얇게 썰고 양상추와 파프리카를 다듬어 빵 사이에 끼워넣는다.</span></p>
<p style="text-align:left;"><span style="color:rgb(37,37,37);"></span><span style="color:rgb(37,37,37);">&nbsp;</span></p>
<p style="text-align:left;"><strong style="color:rgb(0,0,0);letter-spacing:-1px;font-family:tahoma;font-size:7pt;"><span style="color:rgb(37,37,37);">3</span></strong><span style="color:rgb(37,37,37);">&nbsp;&nbsp;피클을 잘게 다져 토핑으로 얹고 위에 소세지를 올린다.</span></p>
<p style="text-align:left;"><span style="color:rgb(37,37,37);"></span><span style="color:rgb(37,37,37);">&nbsp;</span></p>
<p style="text-align:left;"><strong style="color:rgb(0,0,0);letter-spacing:-1px;font-family:tahoma;font-size:7pt;"><span style="color:rgb(37,37,37);">4</span></strong><span style="color:rgb(37,37,37);">&nbsp;&nbsp;머스타드소스를 먹기 좋을 만큼 뿌려준다.</span></p>
<p style="text-align:left;"><span style="color:rgb(37,37,37);"></span><span style="color:rgb(37,37,37);">&nbsp;</span></p>
<p style="text-align:left;"><strong style="color:rgb(0,0,0);letter-spacing:-1px;font-family:tahoma;font-size:7pt;"><span style="color:rgb(37,37,37);">5</span></strong><span style="color:rgb(37,37,37);">&nbsp;&nbsp;토핑이 쏟아지지 않도록 주의하며 그릇에 잘 담는다</span>.</p>
<p style="text-align:left;">&nbsp;</p></td>
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table></div>
<p align="center" class="view" style="font-size:9pt;">&nbsp;</p>
<p align="center" class="view" style="font-size:9pt;">&nbsp;</p></div></td>
</tr>
</tbody>
</table></div>
<div align="center">&nbsp;</div>
<div align="center">&nbsp;</div>
<div align="center">&nbsp;</div>
<div align="center">&nbsp;</div>
<div align="center">&nbsp;</div>
<div align="center">&nbsp;</div>
<p align="center">&nbsp;</p></div>
 </body>
</html>
