<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
	<title> 여행기 </title>
	<meta http-equiv='X-UA-Compatible' content='IE=7' />
	<style>body{font-family:굴림;font-size:10pt;margin:0 0 0 0;}p,li{line-height:1.2;margin-top:0;margin-bottom:0;}</style>
	
 </head>

 <body>
  <p>&nbsp;</p>
<p></p>
<div style='width:660px;height:675px;position:relative;background-image:url("http://www.namo.co.kr/modules/board/design/ce_experience2/crosseditor/binary/images/000017/sam.jpg");background-repeat:no-repeat no-repeat;'>
<h3 style="margin: 0px; padding: 0px; left: 20px; top: 35px; color: rgb(255, 254, 255); line-height: 23px; font-size: 14px; font-weight: bold; position: absolute;">화창한 봄날의<br />
<span style="color:rgb(254,253,2);">남이섬</span></h3><dl style="margin:0px;padding:0px;left:185px;top:15px;list-style-type:none;position:absolute;"><dt style="margin:0px;padding:0px;height:18px;color:rgb(32,160,63);font-size:12px;font-weight:bold;">봄날의 햇살을 만끽할 수 있는 여행지 남이섬</dt><dd style="margin:0px;padding:0px;color:rgb(120,120,120);line-height:18px;font-size:12px;">여행은 언제, 어떻게, 누구와 떠나든 항상 설레이는 것 같다.<br />
특히 내가 좋아하는 사람과 함께라면 더더욱 행복이 배가 된다.<br />
가까우면서도 도심과는 사뭇다른 특별한 공간.<br />
서울 상봉에서 경춘선 열차에 몸을 싣고 1시간여를 달리면<br />
금새 추천이 내 발 앞에 펼쳐지고<br />
선착장에서 5분여 배를 타고 들어가면 나미나라공화국에 당도하게 된다.<br />
푸르른 녹음이 시원스레 우거지는 메타세콰이어 길이 기다리는 그 곳.</dd></dl>
<ul style="margin:0px;padding:0px;left:10px;top:205px;width:280px;list-style-type:none;position:absolute;">
<li style="margin:0px;padding:0px;height:18px;color:rgb(106,106,106);font-size:12px;"><span style="color:rgb(63,63,63);">주소</span> : 강원도 춘천시 남산면 방하리 198</li>
<li style="margin:0px;padding:0px;height:18px;color:rgb(106,106,106);font-size:12px;"><span style="color:rgb(63,63,63);">전화번호</span> : 031-580-8114</li>
<li style="margin:0px;padding:0px;height:18px;color:rgb(106,106,106);font-size:12px;"><span style="color:rgb(63,63,63);">이용시간</span> : 평일 08:00 ~ 21:00</li>
<li style="margin:0px;padding:0px;height:18px;color:rgb(106,106,106);font-size:12px;"><span style="color:rgb(63,63,63);">주변정보</span> : 아침고요수목원, 쁘띠프랑스, 수상스키</li>
<li style="margin:0px;padding:0px;height:18px;color:rgb(106,106,106);font-size:12px;"><span style="color:rgb(63,63,63);">부가정보</span> : 유니세프 어린이 친화공원 지정</li>
</ul>
<p style="margin:0px;padding:0px;left:0px;top:310px;color:rgb(120,120,120);line-height:18px;font-size:12px;position:absolute;">북한강에 있는 강섬으로서 총면적은 14여 만 평에 이른다. <br />
원래는 홍수 때에만 섬으로 고립되었으나, 청평(淸平)댐의 <br />
건설로 완전한 섬을 이루게 되었다. 남이 장군의 묘소가 <br />
있는 것에 연유하여 남이섬이라 부르게 되었다. 넓은 잔디밭이 <br />
전개 되어 있고 둘레에 밤나무숲이 무성하고, 별장방갈로 수영장 등 <br />
오락시설이 잘 정비되어 있으며, 서울과 가까워 많은 관광객이 찾아든다.<br />
<br />
백자작 나무길, 잣나무길, 메타 세콰이어길 등 운치이씨는 숲길이 명소이다. <br />
드라마 겨울 연가의 촬영장소로 알려져 있다. 백과사전</p></div>
 </body>
</html>
