/* COMMON */
#footer, #footer *{list-style:none; text-decoration:none; color:#444; box-sizing: border-box;}
#footer .container{width:calc(100% - 30px);}
@media (max-width: 1199px){
	#footer .container{width:calc(100% - 30px); max-width:100%}
}



    /* span */
span{display:inline-block;}
    /* a */
#footer a{cursor:pointer; color:#767676; display:inline-block;}
#footer a:hover{color:#767676;}
#footer a.white:hover{color:white !important;}
    /* font */
#footer .white{color:white !important;}
#footer .black{color:black;}
#footer .main_blue{color:#1f6db5;}
#footer .point_blue{color:#2d9dcb;}
#footer .point_orange{color:#dd7b09;}
    /*background*/
.bg_main_blue{background:#01a1c3;}
    /* seperate line */
.seperate_line{border:none; border-right:1px solid white; opacity:0.5; display:inline-block; vertical-align:middle;}
    /* scroll */
.scroll-none{-ms-overflow-style: none;}
.scroll-none::-webkit-scrollbar{display:none;}
    /* select */
#footer select{background-image: url('/edu/new_image/relation_site_arrow.png'); background-repeat: no-repeat; -webkit-appearance: none; appearance: none; border:solid 2px #e5e5e5; color:#767676; border-radius:5px;}




/* FOOTER */
#footer {max-width: 100% !important; padding:0 !important;}
#footer .container{border-top:solid 1px #e3eff3; padding-top:30px;}
#footer > div{padding:0}
#footer *{color:#282828;}
#footer > div:first-child ul{padding:0; margin-bottom:25px;}
#footer > div:first-child ul:first-child{margin-top:0;}
#footer > div:first-child ul:first-child:after{content:''; display:block; clear:both;}
#footer > div:first-child ul:first-child li{display:inline-block; padding:0 10px; border-right:solid 1px #767676; font-size:11px;}
#footer > div:first-child ul:first-child li:first-child{padding-left:0;}
#footer > div:first-child ul:first-child li:first-child a{font-weight:900; color:#282828; font-size:15px; margin-top:-4px;}
#footer > div:first-child ul:first-child li:last-child{border:none;}
#footer > div:first-child ul:nth-child(3){margin:0}
#footer > div:first-child ul:nth-child(3) li{line-height:20px; font-size:12px;}
#footer > div:first-child ul:nth-child(3) li:last-child{margin-top:5px;}
#footer > div:first-child span:nth-child(2){padding-bottom:30px; font-size:12px;}
#footer > div:first-child span:last-child{margin-bottom:20px;}
    /* app_download */
.app_download{display:block; width:100%; text-align:right; height:36px; margin-top:5px;}
.app_download img{height:100%;}

.app_download + div{text-align: right; margin-top:60px;}
    /* relation_site */
.relation_site{ background-position:122px 10px; background-size:10px; font-size:1.2rem; line-height: 2.0rem; border:none; border-bottom:2px solid white; padding:5px 15px; outline: none; display:inline-block;}
.relation_site_button{height:34px; display:inline-block; width:45px; text-align:center; border-radius:5px !important; color:#767676 !important;}
    /* footer_util_link */
.footer_util_link{display:inline-block; margin-top:35px;}
.footer_util_link:after{content:''; display:block; clear:both;}
.footer_util_link li{display:inline-block; width:40px; margin-left:5px; height:40px; position: relative;}
.footer_util_link li a{width:100%; height:100%;}
.footer_util_link li a img{max-width:100%; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); max-height:40px;padding:1px;}
.footer_sns_link {display:none;}
.footer_sns_icon {margin-right:20px;}
.relation_site_link{display:inline-block;}

@media (max-width: 1199px){
	#footer > div > div:first-child{width:100%;}
	#footer > div > div:first-child ul:first-child{text-align:center;}
	#footer > div > div:first-child ul:nth-child(3) li{text-align:center;}
	#footer > div > div:first-child span:nth-child(2){text-align:center; width:100%}
    #footer > div > div:first-child span:last-child{margin-bottom:10px;}
    #footer > div > div:last-child{width:100%; margin-bottom:40px;}
	.relation_site_link{width:100%; text-align: center;}
    .app_download{display:inline-block; width:auto; text-align:left; margin-top:0px;}
    .app_download + div{text-align:left; margin-top:0px; width:100%;}
    .footer_sns_link {display:block; margin-bottom:15px; text-align:center;}
    .footer_util_link{width:100%;}
}
@media (max-width: 502px){
	#footer > div:first-child ul:first-child li{margin-bottom:8px}
}


/************************************ 2022 renew ************************************/


/**** 공통 ****/

/* 공통 헤더 가이드 */
.sub_section .sub_contents_header{display: none;}

/* btn */
.board_util_btn_con .btn_style_0{padding: 10px 25px;}
.board_util_btn_con .btn_style_0.gray{color:#fff; background-color: #707070; border-color: #707070; }


/* input */
.input_style_1_con .input_style_1{border:1px solid #CCCCCC;}



/**
 로그인
 **/
.login_wrap{max-width: 410px;}
/* 로그인 폼 */
.login_wrap .input_style_1_con .input_style_1{width: calc(100% - 32%); min-width: auto;}
.login_wrap .input_style_1_con .input_style_1:last-child{position: absolute; top: 0; right: 0; width: calc(100% - 72%);}
.login_util_list{margin-top: 30px; text-align: right;}
.login_util_list > li:first-child{float:left;}
.input_style_1_con.submit .input_style_1 + label{background-color: #3B85FF;}
/* SNS 로그인 */
.sns_login_con .sns_type_select_con{display: flex; flex-wrap: wrap; justify-content: space-between;}
.sns_login_con .sns_type_select_con .sns_login_type{position:relative; width: 48%; margin-right: 0;}
.sns_login_con .sns_type_select_con .sns_login_type.naver, .sns_login_con .sns_type_select_con .sns_login_type.facebook{margin-bottom: 15px;}
.sns_login_con .sns_type_select_con .sns_login_type .icon_box{width: 100%; background-position:25px;}
.sns_login_con .sns_type_select_con .text_box{position: absolute; top:25px; right: 25px; font-size: 17px;}

/**
회원가입
**/

/* 약관동의 */
.sub_section .sub_contents_body .signup_agree_con, .sub_section .sub_contents_body .signup_write_con{border-top:2px solid #999999; border-bottom: none; margin-bottom: 0;}
.sub_section .sub_contents_body #joinStep2 div:nth-child(3) .signup_agree_con{border-top: none;}
.agreeScrBtm{padding: 10px 15px 10px 0; border:none; text-align: left!important;}

.signup_step_bar{display:flex; justify-content:space-around; padding: 0;}
.signup_step_bar .step_wrap{border: none; background: none;}
.signup_step_bar .step_box .step_title{width: 64px; height: 64px; margin: 0 auto 10px auto; background-image:url("/edu/images/renew2022/step_off.png"); background-repeat: no-repeat;  text-indent: -9999px; }
.signup_step_bar .step_wrap.active{background: none; border: none;}
.signup_step_bar .step_wrap.active .step_title{background-image:url("/edu/images/renew2022/step_on.png");}
.signup_step_bar .step_wrap.active > .step_box{color: #222222; font-weight: 600;}

.sub_section .sub_contents_body .agreeScrBtm input[type="checkbox"]{width: 20px; height: 20px;}
.sub_section .sub_contents_body .agreeScrBtm input[type="checkbox"] + label{padding-left:10px; left:-23px; top:2px;}
.sub_section .sub_contents_body table.table_style_0 th, .sub_section .sub_contents_body table.table_style_0 td,
.sub_section .sub_contents_body table.table_style_0 tr:last-child > th, .sub_section .sub_contents_body table.table_style_0 tr:last-child > td{border: none;}
.sub_section .sub_contents_body table.table_style_0 th{padding: 0;}
.sub_section .sub_contents_body table.table_style_0 td{padding: 15px 26px;}
.sub_section .sub_contents_body table.table_style_0 .radio_wrap{display: block;}
.sub_section .sub_contents_body table.table_style_0 td a{background-color: #707070; color:#fff;}


@media all and (max-width:1024px) {
	.radio_box_con {padding: 0;}
	.sub_section .sub_contents_body .agreeScrBtm input[type="checkbox"] + label {left: -24px;}
	.sub_section .sub_contents_body input[type="checkbox"] + label {margin-right: 0; padding-left: 14px;}
	.sub_section .sub_contents_body .table_style_0 input[type="text"], .sub_section .sub_contents_body .table_style_0 input[type="password"]{width: 100%;}
	.sub_section .sub_contents_body table.table_style_0 .input_wrap .radio_box_con, .sub_section .sub_contents_body table.table_style_0 .radio_wrap .radio_box_con{margin-bottom: 5px;}
}

/* GNB */
