/* COMMON */
*{list-style:none; text-decoration:none; color:#444; box-sizing: border-box;}

    /* span */
span{display:inline-block;}
    /* a */
a{cursor:pointer; color:#666; display:inline-block;}
a:hover{color:#666;}
a.white:hover{color:white !important;}
a.white:active{color:white !important;}
    /* font */
.white{color:white !important;}
.black{color:black;}
.main_blue{color:#1f6db5;}
.point_blue{color:#2d9dcb;}
.point_orange{color:#dd7b09;}
    /*background*/
.bg_main_blue{background:#01a1c3;}
    /* seperate line */
.seperate_line{border:none; border-right:1px solid white; opacity:0.5; display:inline-block; vertical-align:middle;}
    /* scroll */
.scroll-none{-ms-overflow-style: none;}
.scroll-none::-webkit-scrollbar{display:none;}
    /* select */
.header_wrap select{background-image: url(../image/relation_site_arrow.png); background-repeat: no-repeat; -webkit-appearance: none; appearance: none;}




	/* HEADER */
.sub_layout_page header, #subContainer header{background:#0480A9; position:relative;}
#wrap.over-hidden{position:relative;}
header{position:absolute; top:0; left:0; width:100%; z-index:999; padding-top:25px; padding-bottom:10px; height:145px;}
header .header_util_wrap{text-align:right; margin-bottom:20px;}
header .header_util_wrap .header_util_text_con > span{margin-left:15px; display:inline-block; color:white;}
header .header_util_wrap .header_util_text_con > span > span{color:white;}
header .header_util_wrap .header_util_text_con > span:not(:first-child):before{content:''; display:inline-block; background:white; width:1px; height:8px;}
header .header_util_wrap .header_util_text_con > span a {color:white; padding-left:15px; display:inline-block;}
header .header_util_wrap .header_util_icon_con{margin-left:35px;}
header .header_util_wrap .header_util_icon_con span{display:inline-block; margin-left:15px;}
header nav 
	, header .navbar{padding:10px 0;}
header nav .navbar-toggler{background-image:url(../../img/gnb_icon.png); background-repeat:no-repeat; width:38px; height:25px; border-radius:0; border:none; background-color:#e5c07c; border-radius:50%; width:50px; height:50px; background-position:center; background-size:25px 18px}
header nav .navbar-brand{height:50px; line-height:50px;}
header nav .navbar-brand img{height:100%; padding-bottom:5px}
header nav #main_nav{height:50px;}
header nav #main_nav .navbar-nav{margin:0 auto}
header nav #main_nav .navbar-nav > li{margin:0 15px; padding:15px 25px !important;}
header nav #main_nav .navbar-nav > li:first-child{margin-left:0; padding-left:40px ! important;}
header nav #main_nav .navbar-nav > li:last-child{margin-right:0;padding-right:40px ! important;}
header nav #main_nav .navbar-nav > li > a{color:white; font-size:1.8rem;}
header nav #main_nav .navbar-nav > li.active > a
	, header nav #main_nav .navbar-nav > li:hover > a{font-weight:700}
header nav:not(.gnbActive) #main_nav .navbar-nav > li > ul{position:absolute; display:none; padding-top:25px;}
header nav:not(.gnbActive) #main_nav .navbar-nav > li:nth-child(2) > ul{width:auto; right:0;}
header nav:not(.gnbActive) #main_nav .navbar-nav > li:nth-child(5) > ul{width:auto; right:0;}
header nav:not(.gnbActive) #main_nav:not(.show) .navbar-nav > li:hover > ul
	, header nav #main_nav:not(.show) .navbar-nav > li.active > ul{display:block;}
header nav #main_nav .navbar-nav > li > ul > li{display:inline-block;}
header nav #main_nav .navbar-nav > li > ul > li:not(:first-child):before{content:''; display:inline-block;; width:1px; height:10px; background:white;}
header nav #main_nav .navbar-nav > li > ul > li:first-child{margin-left:0;}
header nav #main_nav .navbar-nav > li > ul > li:last-child{margin-right:0;}
header nav #main_nav .navbar-nav > li > ul > li:first-child > a{padding-left:40px;}
header nav #main_nav .navbar-nav > li > ul > li:last-child > a{padding-right:40px;}
header nav #main_nav .navbar-nav > li > ul > li > a{color:white; padding:0 15px 50px 15px;}
header nav #main_nav .navbar-nav > li > ul > li > ul{display:none;}
header nav .searchCon{height:50px; line-height:50px;}
header nav .searchCon .input_con{display:none;}
header nav .searchCon .input_con input[type=text]{border:none; border-bottom:solid 1px rgba(255,255,255,0.5); color:#fff; vertical-align:middle; width:200px; padding:0; background:none; height:30px; line-height:30px; font-size:1.6rem;}
header nav .searchCon .input_con input[type=text]::placeholder{color:rgba(255,255,255,0.5);}
header nav .searchCon .gnb_menu{position:relative;}
header nav .searchCon .gnb_menu:before{content:''; display:block; background:#e5c07c; width:50px; height:50px; border-radius:50%; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
header nav .searchCon .gnb_menu, header nav .searchCon .gnb_close{margin-left:35px;}
header nav .searchCon .gnb_close{display:none;}
header nav .searchCon #all_search_label.active{display:none;}
header nav .searchCon #all_search_label.active + .input_con{display:inline-block;}

header nav.gnbActive{position:absolute; top:60px; left:0; background:#0480A9; width:100%; padding:20px calc((100% - 1300px)/2 + 15px);}
header nav.gnbActive .navbar-brand{display:none;}
header nav.gnbActive #main_nav{margin:0; height:auto;}
header nav.gnbActive #main_nav .navbar-nav{margin:0; align-self:flex-start; width:100%;}
header nav.gnbActive #main_nav .navbar-nav > li{margin:0 20px; width:16.66%;}
header nav.gnbActive #main_nav .navbar-nav > li > a{font-size:1.9rem; color:#fff;}
header nav.gnbActive #main_nav .navbar-nav > li:first-child{margin-left:0;}
header nav.gnbActive #main_nav .navbar-nav > li:last-child{margin-right:0;}
header nav.gnbActive #main_nav .navbar-nav > li > ul{position:static; display:block; margin-top:20px;}
header nav.gnbActive #main_nav .navbar-nav > li > ul > li{display:list-item; height:25px; line-height:25px;}
header nav.gnbActive #main_nav .navbar-nav > li > ul > li:not(:first-child):before{display:none}
header nav.gnbActive #main_nav .navbar-nav > li > ul > li > a{padding:0; color:#fff; opacity: 0.6; font-weight: lighter; font-size:15px;}
header nav.gnbActive #main_nav .navbar-nav > li > ul > li:hover > a{opacity: 1;}
header nav.gnbActive .searchCon{align-self:flex-start; margin-top:15px;}
header nav.gnbActive .searchCon #all_search_label{display:none;}

header.active{background:rgb(1, 161, 195); transition:all .35s ease; position:fixed !important;}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}


@media (max-width: 1329px) {
	header nav.gnbActive{padding:20px 30px;}
}
@media (max-width: 1299px) {
	header nav.gnbActive{padding:20px calc((100% - 1200px)/2 + 15px);}
}
@media (max-width: 1230px) {
	header nav.gnbActive{padding:20px 30px;}
}
@media (max-width: 1199px) {
	header{height:auto; max-height:100%; transition:all .35s ease;}
    header .header_util_wrap .header_util_icon_con{display:none;}
    header nav #main_nav{height:0; margin-top:20px; border-top:solid 1px rgba(255,255,255,0.5);}
    header nav #main_nav.show{height:auto;}
    header nav #main_nav .navbar-nav{padding-top:20px; overflow:auto; -ms-overflow-style: none; scrollbar-width: none; max-height:300px}
    header nav #main_nav .navbar-nav::-webkit-scrollbar{display:none;}
	header nav #main_nav .navbar-nav > li{margin:0; background-image:url(/edu/images/bm/gnb_1depth_mobile_arrow_modify.png); background-repeat:no-repeat; background-position:right 20px; background-size:15px auto; font-weight:200;}
	header nav:not(.gnbActive) #main_nav .navbar-nav > li > ul{position:inherit; padding-top:10px;}
	header nav #main_nav .navbar-nav > li > ul > li{width:100%; height:auto; line-height:30px; text-indent:10px; position:relative;}
	header nav #main_nav .navbar-nav > li > ul > li:not(:first-child):before{content:'-'; position:absolute; left:0; color:white; width:0; height:0; background:0; display:none;}
	header nav #main_nav .navbar-nav > li > ul > li:before{content:'-'; position:absolute; left:0; color:white; display:none;}
	header nav #main_nav .navbar-nav > li > ul > li > a{padding:0; font-size:1.5rem; color:white}
	header nav #main_nav .navbar-nav > li > ul > li > a:hover{color:white;}
    header nav .searchCon{display:none;}
    header nav #main_nav .navbar-nav > li > ul > li > ul{display:block;}
    header nav #main_nav .navbar-nav > li > ul > li > ul > li:before{content: '-';position: absolute;left: 15px;color: white;}
    header nav #main_nav .navbar-nav > li > ul > li > ul > li > a{color:#fff;text-indent:30px;}
    header nav #main_nav .navbar-nav > li:first-child{padding-left:25px ! important;}
    
}
@media (max-width: 540px) {
	header .header_util_wrap .header_util_text_con > span:last-child{display:none;}
	header .header_util_wrap .header_util_text_con > .header-name-tag{display:none;}
	header .header_util_wrap .header_util_text_con > .header-name-tag + span:nth-child(2):before{display:none;}
	header nav #main_nav .navbar-nav > li > ul > li:first-child > a{padding-left:0;}
}
@media (min-width: 576px) and (max-width:1300px){
	.container {max-width: inherit;}
}
