@charset "utf-8";


@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/NanumSquareRoundR.eot');
    src: url('/fonts/NanumSquareRoundR.eot?#iefix') format('embedded-opentype'), url('/fonts/NanumSquareRoundR.woff') format('woff'), url('/fonts/NanumSquareRoundR.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/NanumSquareRoundB.eot');
    src: url('/fonts/NanumSquareRoundB.eot?#iefix') format('embedded-opentype'), url('/fonts/NanumSquareRoundB.woff') format('woff'), url('/fonts/NanumSquareRoundB.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/NanumSquareRoundEB.eot');
    src: url('/fonts/NanumSquareRoundEB.eot?#iefix') format('embedded-opentype'), url('/fonts/NanumSquareRoundEB.woff') format('woff'), url('/fonts/NanumSquareRoundEB.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/NanumSquareRoundL.eot');
    src: url('/fonts/NanumSquareRoundL.eot?#iefix') format('embedded-opentype'), url('/fonts/NanumSquareRoundL.woff') format('woff'), url('/fonts/NanumSquareRoundL.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR_Regular';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf');
    src: url('/fonts/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype'), url('/fonts/NanumSquareRoundR.woff') format('woff'), url('/fonts/NanumSquareRoundR.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR_Light';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fonts/Noto_Sans_KR/NotoSansKR-Light.otf');
    src: url('/fonts/fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('opentype'), url('/fonts/NanumSquareRoundB.woff') format('woff'), url('/fonts/NanumSquareRoundB.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR_Medium';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf');
    src: url('/fonts/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('opentype'), url('/fonts/NanumSquareRoundEB.woff') format('woff'), url('/fonts/NanumSquareRoundEB.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR_Bold';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf');
    src: url('/fonts/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('opentype'), url('/fonts/NanumSquareRoundL.woff') format('woff'), url('/fonts/NanumSquareRoundL.ttf') format('truetype');
}


@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-Black.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-Bold.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-Medium.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-Regular.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-Light.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('/fonts/fonts/Pretendard-1.3.3/woff2/Pretendard-Thin.woff2') format('woff2'), url('/fonts/fonts/Pretendard-1.3.3/woff/Pretendard-Thin.woff') format('woff');
}


/*!*어그로체 *!
@font-face {
    font-family: 'SB_Mac_Font_L';
    src: url('/fonts/fonts/Main_SB_Aggro/SB_Window_Font/SB_Mac_Font_L.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: 'SB_Mac_Font_M';
    src: url('/fonts/fonts/Main_SB_Aggro/SB_Window_Font/SB_Mac_Font_M.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: 'SB_Mac_Font_B';
    src: url('/fonts/fonts/Main_SB_Aggro/SB_Window_Font/SB_Mac_Font_B.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}


!*어그로체B*!
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0041-005A!*(대문자)*!, U+0061-007A!*(소문자)*!
}

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: none 0;}
caption {text-indent:-10000px;}
html { font-size: 10px; }
body{ font-size: 14px; font-size: 1.4rem; line-height: 2.2rem; }
html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
body {background-color:#fff; color:#000; line-height: 1.2; font-weight: 400; font-family: 'Pretendard', sans-serif !important; font-family:"NanumSquareRound", "돋움", Dotum, Verdana, Helvetica, Sans-serif;*/}
input, button, textarea {font-family: inherit; font-size:1.2rem; color:#000;}
h1, h2, h3, h4, h5, h6 {letter-spacing: 0; font-weight:normal;}
img, fieldset, iframe {border:0 none;}
table {border-collapse: collapse;}
select, textarea {font-family: inherit; border: 1px solid #B7B6B6; background: #FFFFFF; color: #7c7c7c; font-size: 12px; font-size: 1.2rem; vertical-align: middle;}
textarea {overflow:auto;}
select, input, img, li {vertical-align: middle; text-align:inherit;}
address, caption, cite, code, dfn, em, strong, th, var {font-style : normal; font-weight : 900;}
ul, li, ol {list-style-type: none;}
legend,  caption {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
hr {border-collapse:collapse; margin: 0; border: none;}
a:link, a:visited {text-decoration:none; color: inherit;}
a:hover {text-decoration:none;}
input[type="button"] {-webkit-appearance: none;}
i {line-height: 0.8em !important;}  /* 아이콘 vertical middle 위해 */



/* 부분수정 */


.ta_ct{text-align:center;}
.ta_lt{text-align:left ! important;}
.ta_rt{text-align:right;}
.mb_20{margin_bottom:20px;}
.mx_wid100{max-width:100% ! important;}
.table_rpsive{width: 100%;
    overflow: hidden;
    overflow-x: scroll;}
@media screen and (max-width: 450px) {

.mo-w_50{width:50%;}
.mo-ta_ct{text-align:center;}
.mo-ta_lt{text-align:left;}
.mo-ta_rt{text-align:right;}
.mo-mb_20{margin_bottom:20px;}

.dp_none{display:none ! important;}

}

@media screen and (min-width: 1920px) {
	.w_50{width:50% ! important;}
	
}