@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;	
	vertical-align: middle;
	/*margin-left: 20px;*/
}
.flaticon-award:before {
	content: "\e000";
}
.flaticon-chef1:before {
	content: "\e001";
}
.flaticon-chef10:before {
	content: "\e002";
}
.flaticon-chef13:before {
	content: "\e003";
}
.flaticon-chef16:before {
	content: "\e004";
}
.flaticon-cloud241:before {
	content: "\e005";
}
.flaticon-eating:before {
	content: "\e006";
}
.flaticon-plate13:before {
	content: "\e007";
}
.flaticon-restaurant26:before {
	content: "\e008";
}
